body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
}

.contenedor-img {
  width: 40%;
}

.foto1 {
  width: 100%;
}

.contenedor-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-form {
  width: 75%;
}
